<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026534116413-9uen61r9arjs2o1f03i2ckq56joi2ct8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026534116413-9uen61r9arjs2o1f03i2ckq56joi2ct8</string>
	<key>API_KEY</key>
	<string>AIzaSyBcOn3YXckc0btfiJ6PCvf7inufKMMm0TY</string>
	<key>GCM_SENDER_ID</key>
	<string>1026534116413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainify.trainifytennis</string>
	<key>PROJECT_ID</key>
	<string>trainify-react-app</string>
	<key>STORAGE_BUCKET</key>
	<string>trainify-react-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026534116413:ios:f3b66acd3c57e9fc7aee54</string>
</dict>
</plist>